<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular SPA</title>
	<script src="/static/js/angular.min.js"></script>
	<script src="/static/js/angular-route.min.js"></script>
</head>
<body>
<center>
	<div ng-controller="indexCtrl">

	<a ng-click="logout()" ng-show="is_logged">Logout</a>
	
	<a href="#/login/" ng-hide="is_logged">Login</a>&nbsp;&nbsp;
	<a href="#/register/" ng-hide="is_logged">Register</a>

	</div>
</center>
<div ng-view>


</div>

<script src="/static/js/myApp.js"></script>
<script src="/static/js/myController.js"></script>
</body>
</html>